# SED tool prototype

In [11]:
%qtconsole

In [2]:
ls

SED-VO_prototype.ipynb  data/                   sed_builder.pyc
__pycache__/            docs/                   tools/
catalogs/               plot/
cats/                   sed_builder.py

In [3]:
import warnings
warnings.simplefilter('ignore')

import astropy
import bokeh

# Tools to handle object/data discovery
import catalogs
import tools

# The SED plot
import plot

In [4]:
from sed_builder import search_data

In [5]:
object_name = '3c273'

In [6]:
flux_table = search_data(object_name)

INFO: Query Conesearch service and return a 'columns'-filtered table [eada.vo.conesearch]
INFO: Position (%s,%s) and radius (%s), in degrees [eada.vo.conesearch]
INFO: URL (%s) and columns (%s) [eada.vo.conesearch]
INFO: Retrieved table has 2 objects, 4 columns. [eada.vo.conesearch]
> 2 objects found
INFO: Query Conesearch service and return a 'columns'-filtered table [eada.vo.conesearch]
INFO: Position (%s,%s) and radius (%s), in degrees [eada.vo.conesearch]
INFO: URL (%s) and columns (%s) [eada.vo.conesearch]

INFO:astropy:Query Conesearch service and return a 'columns'-filtered table
INFO:astropy:Position (187.277915,2.052388) and radius (0.01), in degrees
INFO:astropy:URL (http://gsss.stsci.edu/webservices/vo/ConeSearch.aspx?CAT=GALEX&) and columns (['IAUname', 'RA', 'DEC', 'fuv_mag', 'nuv_mag'])

INFO: Retrieved table has 19 objects, 8 columns. [eada.vo.conesearch]
> 19 objects found
INFO: Query Conesearch service and return a 'columns'-filtered table [eada.vo.conesearch]
INFO: Position (%s,%s) and radius (%s), in degrees [eada.vo.conesearch]
INFO: URL (%s) and columns (%s) [eada.vo.conesearch]

INFO:astropy:Retrieved table has 4 objects, 5 columns.

INFO: Retrieved table has 4 objects, 5 columns. [eada.vo.conesearch]
> 4 objects found

In [7]:
flux_table

  catalog          flux          freq
0   first  2.291674e-13  1.400000e+09
0    sdss  7.766249e-11  8.461543e+14
1    sdss  1.453907e-10  6.284957e+14
2    sdss  1.231211e-10  4.811306e+14
3    sdss  1.263115e-10  3.931704e+14
4    sdss  6.077730e-11  3.282160e+14
0   galex  1.468931e+02  1.294608e+15
1   galex  3.462732e+02  1.948476e+15

In [8]:
from plot import plot
from plot import element

sed = plot.SED(object_name)
cols = flux_table.columns

for survey,group in flux_table.groupby('catalog'):
#     print(survey)
#     print(group)
    el = element.Element(survey,group,y='flux',x='freq')
    sed.add_element(el)

In [9]:
# sed.draw()
# sed.show()
sed.plot()

In [10]:
assert None

AssertionError:

## The MRK421 example from data in disk

In [ ]:
ls data

In [ ]:
import pandas

from plot import plot
from plot import element

sed = plot.SED(object_name)

for band in 'radio,infrared,millimeter,optical,uv,xray,gammaray'.split(','):
    df = pandas.read_csv('data/MRK421.{}.csv'.format(band))
    cols = df.columns
    el = element.Element(band,df,x='frequency',y='flux')
    sed.add_element(el)
sed.draw()
sed.show()