# SED tool prototype

In [1]:
# %qtconsole

In [2]:
ls

README.md               __pycache__/            plot@
README.md~              catalogs/               sed_builder.py*
SED-VO_prototype.ipynb  data/                   test.json

In [3]:
import warnings
warnings.simplefilter('ignore')

import astropy
import bokeh

# Tools to handle object/data discovery
import catalogs
catalogs = catalogs.__all__
#import tools

# The SED plot
import plot

In [4]:
from sed_builder import search_object, search_position

In [5]:
object_name = '3c279'

In [7]:
flux_table = search_object(object_name, radius=5, catalogs=catalogs)

INFO:astropy:Query Conesearch service and return a 'columns'-filtered table
INFO:astropy:Position (194.046527,-5.789312) and radius (0.001388888888888889), in degrees
INFO:astropy:URL (http://vizier.u-strasbg.fr/viz-bin/votable/-A?-out.all&-source=VIII%2F92%2Ffirst14&) and columns (['FIRST', '_RAJ2000', '_DEJ2000', 'Fint'])

Searching catalog: first
INFO: Query Conesearch service and return a 'columns'-filtered table [eada.vo.conesearch]
INFO: Position (%s,%s) and radius (%s), in degrees [eada.vo.conesearch]
INFO: URL (%s) and columns (%s) [eada.vo.conesearch]

INFO:astropy:Retrieved table has 1 objects, 4 columns.

INFO: Retrieved table has 1 objects, 4 columns. [eada.vo.conesearch]
> 1 objects found

INFO:astropy:Query Conesearch service and return a 'columns'-filtered table
INFO:astropy:Position (194.046527,-5.789312) and radius (0.001388888888888889), in degrees
INFO:astropy:URL (http://gsss.stsci.edu/webservices/vo/ConeSearch.aspx?CAT=GALEX&) and columns (['IAUname', 'RA', 'DEC', 'fuv_mag', 'nuv_mag'])

Searching catalog: galex
INFO: Query Conesearch service and return a 'columns'-filtered table [eada.vo.conesearch]
INFO: Position (%s,%s) and radius (%s), in degrees [eada.vo.conesearch]
INFO: URL (%s) and columns (%s) [eada.vo.conesearch]

INFO:astropy:Retrieved table has 2 objects, 5 columns.
INFO:astropy:Query Conesearch service and return a 'columns'-filtered table
INFO:astropy:Position (194.046527,-5.789312) and radius (0.001388888888888889), in degrees
INFO:astropy:URL (https://heasarc.gsfc.nasa.gov/cgi-bin/vo/cone/coneGet.pl?table=hers82cat&) and columns (['ra', 'dec', 'flux_250_um', 'flux_350_um', 'flux_500_um'])

INFO: Retrieved table has 2 objects, 5 columns. [eada.vo.conesearch]
> 2 objects found
Searching catalog: hers
INFO: Query Conesearch service and return a 'columns'-filtered table [eada.vo.conesearch]
INFO: Position (%s,%s) and radius (%s), in degrees [eada.vo.conesearch]
INFO: URL (%s) and columns (%s) [eada.vo.conesearch]

INFO:astropy:Retrieved table has 0 objects, 5 columns.
INFO:astropy:Query Conesearch service and return a 'columns'-filtered table
INFO:astropy:Position (194.046527,-5.789312) and radius (0.001388888888888889), in degrees
INFO:astropy:URL (http://skyserver.sdss.org/vo/ConeSearch/sdssConeSearch.asmx/ConeSearch?) and columns (['OBJID', 'RA', 'DEC', 'U', 'G', 'R', 'I', 'Z'])

INFO: Retrieved table has 0 objects, 5 columns. [eada.vo.conesearch]
> Failed to query/retrieve data
Searching catalog: sdss
INFO: Query Conesearch service and return a 'columns'-filtered table [eada.vo.conesearch]
INFO: Position (%s,%s) and radius (%s), in degrees [eada.vo.conesearch]
INFO: URL (%s) and columns (%s) [eada.vo.conesearch]

INFO:astropy:Retrieved table has 0 objects, 8 columns.
INFO:astropy:Query Conesearch service and return a 'columns'-filtered table
INFO:astropy:Position (194.046527,-5.789312) and radius (0.001388888888888889), in degrees
INFO:astropy:URL (https://irsa.ipac.caltech.edu/SCS?table=allwise_p3as_psd) and columns (['designation', 'ra', 'dec', 'w1mpro', 'w2mpro', 'w3mpro', 'w4mpro'])

INFO: Retrieved table has 0 objects, 8 columns. [eada.vo.conesearch]
> Failed to query/retrieve data
Searching catalog: wise
INFO: Query Conesearch service and return a 'columns'-filtered table [eada.vo.conesearch]
INFO: Position (%s,%s) and radius (%s), in degrees [eada.vo.conesearch]
INFO: URL (%s) and columns (%s) [eada.vo.conesearch]

INFO:astropy:Retrieved table has 1 objects, 7 columns.
INFO:astropy:Query Conesearch service and return a 'columns'-filtered table
INFO:astropy:Position (194.046527,-5.789312) and radius (0.001388888888888889), in degrees
INFO:astropy:URL (https://heasarc.gsfc.nasa.gov/cgi-bin/vo/cone/coneGet.pl?table=xmmssc&) and columns (['name', 'ra', 'dec', 'ep_8_flux', 'ep_1_flux', 'ep_2_flux', 'ep_3_flux', 'ep_4_flux', 'ep_5_flux'])

INFO: Retrieved table has 1 objects, 7 columns. [eada.vo.conesearch]
> 1 objects found
Searching catalog: xmm
INFO: Query Conesearch service and return a 'columns'-filtered table [eada.vo.conesearch]
INFO: Position (%s,%s) and radius (%s), in degrees [eada.vo.conesearch]
INFO: URL (%s) and columns (%s) [eada.vo.conesearch]

INFO:astropy:Retrieved table has 2 objects, 9 columns.

INFO: Retrieved table has 2 objects, 9 columns. [eada.vo.conesearch]
> 2 objects found

In [8]:
flux_table

  catalog          flux          freq
0   first  1.489814e-13  1.400000e+09
0   galex  2.997325e-12  1.294608e+15
1   galex  1.711803e-12  1.948476e+15
0    wise  1.063797e-11  8.817425e+13
1    wise  1.529865e-11  6.517227e+13
2    wise  1.051822e-11  2.498270e+13
3    wise  1.821210e-11  1.362693e+13
0     xmm  1.471910e-11  1.208995e+18
1     xmm  1.112630e-12  6.044973e+16
2     xmm  1.962720e-12  1.813492e+17
3     xmm  2.588880e-12  3.626984e+17
4     xmm  3.708190e-12  7.253968e+17
5     xmm  5.383550e-12  1.934391e+18

In [16]:
from plot import plot
from plot import element

sed = plot.SED(object_name)
cols = flux_table.columns

for survey,group in flux_table.groupby('catalog'):
#     print(survey)
#     print(group)
    el = element.Element(survey,group,y='flux',x='freq')
    sed.add_element(el)

In [17]:
# sed.draw()
# sed.show()
sed.plot()

## The MRK421 example from data in disk

In [18]:
ls data

MRK421.csv           MRK421.millimeter.csv  MRK421.txt
MRK421.gammaray.csv  MRK421.optical.csv     MRK421.uv.csv
MRK421.infrared.csv  MRK421.radio.csv       MRK421.xray.csv

In [19]:
object_name = 'MRK421'

In [20]:
import pandas

from plot import plot
from plot import element

sed = plot.SED(object_name)

for band in 'radio,infrared,millimeter,optical,uv,xray,gammaray'.split(','):
    df = pandas.read_csv('data/MRK421.{}.csv'.format(band))
    cols = df.columns
    el = element.Element(band,df,x='frequency',y='flux')
    sed.add_element(el)
sed.draw()
sed.show()